{% extends 'base.html' %}

{% block content %}
    <div>
        <p style="font-size: 30px;">Student Name: {{ student.name }}</p>
        <p style="font-size: 30px;">Student Surname: {{ student.surname }}</p>
        <p style="font-size: 30px;">Phone: {{ student.phone }}</p>
        <p style="font-size: 30px;">Group: {{ student.group }}</p>
        <p style="font-size: 30px;">Created: {{ student.created_at }}</p>
    </div>
    {% if user.is_authenticated %}
        <div style="display: flex;">
            <p><a style="color: rgb(217, 148, 21); font-size: 25px;" href="{% url 'student_edit' student.pk %}">Edit Student</a></p>
            <p style="margin: 18px 10px; font-size: 25px;">|</p>
            <p><a style="color: rgb(217, 24, 21); font-size: 25px;" href="{% url 'student_delete' student.pk %}">Delete Student</a></p>
        </div>
    {% endif %}
{% endblock content %}